{% extends "master.html.twig" %}
{% block title %}Gallery{% endblock %}
{% block content %}
<section>
      <div class="container" >
        <h3 id="galleryh3" class="animate__animated animate__bounce">Gallery</h3>
      </div>
    </section>
    <section id="gallery">
      <div class="container text-center">
        <div class="row">
          <div class="col-sm" id="wrapper">
            <a href="http://127.0.0.1:5500/FinalProject/PartyPage.html">
              <img
                src="./images/h2-gallery-img-1.jpg"
                alt="Avatar"
                class="image"
              />
              <div class="overlay">
                <div class="text">Party>></div>
              </div></a
            >
          </div>
          <div class="col-sm" id="wrapper">
            <a href="#">
              <img
                src="./images/h2-gallery-img-2.jpg"
                alt="Avatar"
                class="image"
              />
              <div class="overlay">
                <div class="text">Blog>></div>
              </div>
            </a>
          </div>
          <div class="col-sm" id="wrapper">
            <a href="http://playroom.org/event"
              ><img
                src="./images/h2-gallery-img-3.jpg"
                alt="Avatar"
                class="image"
              />
              <div class="overlay">
                <div class="text">Event>></div>
              </div></a
            >
          </div>
          <div class="col-sm" id="wrapper">
            <a href="#">
              <img
                src="./images/h2-gallery-img-5.jpg"
                alt="Avatar"
                class="image"
              />
              <div class="overlay">
                <div class="text">Blog>></div>
              </div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm" id="wrapper">
            <a href="http://127.0.0.1:5500/FinalProject/PartyPage.html">
              <img
                src="./images/h2-gallery-img-6.jpg"
                alt="Avatar"
                class="image"
              />
              <div class="overlay">
                <div class="text">Party>></div>
              </div>
            </a>
          </div>
          <div class="col-sm" id="wrapper">
            <a href="http://127.0.0.1:5500/FinalProject/PartyPage.html">
              <img
                src="./images/h2-gallery-img-7.jpg"
                alt="Avatar"
                class="image"
              />
              <div class="overlay">
                <div class="text">Party>></div>
              </div>
            </a>
          </div>
          <div class="col-sm" id="wrapper">
            <a href="http://127.0.0.1:5500/FinalProject/PartyPage.html">
              <img
                src="./images/h2-gallery-img-8.jpg"
                alt="Avatar"
                class="image"
              />
              <div class="overlay">
                <div class="text">Party>></div>
              </div>
            </a>
          </div>
          <div class="col-sm" id="wrapper">
            <a href="http://playroom.org/event">
              <img
                src="./images/h2-gallery-img-9.jpg"
                alt="Avatar"
                class="image"
              />
              <div class="overlay">
                <div class="text">Event>></div>
              </div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm" id="wrapper">
            <a href="http://127.0.0.1:5500/FinalProject/AboutUsPage.html">
              <img
                src="./images/h2-gallery-img-10.jpg"
                alt="Avatar"
                class="image"
              />
              <div class="overlay">
                <div class="text">About Us>></div>
              </div>
            </a>
          </div>
          <div class="col-sm" id="wrapper">
            <a href="#">
              <img
                src="./images/h2-gallery-img-11.jpg"
                alt="Avatar"
                class="image"
              />
              <div class="overlay">
                <div class="text">Blog>></div>
              </div>
            </a>
          </div>
          <div class="col-sm" id="wrapper">
            <a href="http://playroom.org/event">
              <img
                src="./images/h2-gallery-img-12.jpg"
                alt="Avatar"
                class="image"
              />
              <div class="overlay">
                <div class="text">Event>></div>
              </div>
            </a>
          </div>
          <div class="col-sm" id="wrapper">
            <a href="http://playroom.org/event">
              <img
                src="./images/h2-gallery-img-13-1.jpg"
                alt="Avatar"
                class="image"
              />
              <div class="overlay">
                <div class="text">Event>></div>
              </div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm" id="wrapper">
            <a href="http://playroom.org/event">
              <img
                src="./images/h2-gallery-img-14-1.jpg"
                alt="Avatar"
                class="image"
              />
              <div class="overlay">
                <div class="text">Event>></div>
              </div>
            </a>
          </div>
          <div class="col-sm" id="wrapper">
            <a href="http://127.0.0.1:5500/FinalProject/PartyPage.html">
              <img
                src="./images/h2-gallery-img-15-1.jpg"
                alt="Avatar"
                class="image"
              />
              <div class="overlay">
                <div class="text">Party>></div>
              </div>
            </a>
          </div>
          <div class="col-sm" id="wrapper">
            <a href="#">
              <img
                src="./images/h2-gallery-img-16-1.jpg"
                alt="Avatar"
                class="image"
              />
              <div class="overlay">
                <div class="text">Blog>></div>
              </div>
            </a>
          </div>
          <div class="col-sm" id="wrapper">
            <a href="http://playroom.org/event">
              <img
                src="./images/h2-gallery-img-18-1.jpg"
                alt="Avatar"
                class="image"
              />
              <div class="overlay">
                <div class="text">Event>></div>
              </div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm" id="wrapper">
            <a href="http://127.0.0.1:5500/FinalProject/PartyPage.html">
              <img src="./images/p6-img-12.jpg" alt="Avatar" class="image" />
              <div class="overlay">
                <div class="text">Party>></div>
              </div>
            </a>
          </div>
          <div class="col-sm" id="wrapper">
            <a href="http://playroom.org/event">
              <img
                src="./images/h1-eventlist-img-6-800x593.jpg"
                alt="Avatar"
                class="image"
              />
              <div class="overlay">
                <div class="text">Event>></div>
              </div>
            </a>
          </div>
          <div class="col-sm" id="wrapper">
            <a href="http://playroom.org/event">
              <img
                src="./images/h1-eventlist-img-4-800x593.jpg"
                alt="Avatar"
                class="image"
              />
              <div class="overlay">
                <div class="text">Event>></div>
              </div>
            </a>
          </div>
          <div class="col-sm" id="wrapper">
            <a href="http://playroom.org/event">
              <img
                src="./images/h1-eventlist-img-8-800x593.jpg"
                alt="Avatar"
                class="image"
              />
              <div class="overlay">
                <div class="text">Event>></div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}