  <nav>
    <a href="FinalProject/HomePage.html" id="logoLink">
      <img src="./images/header-logo.png" alt="logo" style="margin-top: 10px;"/>
    </a>
    <ul class="nav justify-content-center" id="navBar">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="http://playroom.org/"> HOME </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://playroom.org/event"> EVENT </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://playroom.org/gallery"> GALLERY </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://playroom.org/aboutus"> ABOUT US </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://playroom.org/mybookings"> MY BOOKINGS </a>
      </li>
    </ul>
  </nav>
