{% extends "master.html.twig" %}
{% block title %}Home{% endblock %}
{% block content %}
  <section class="sectionOne">
    <div>
      <div class="sectionOneContent">
        <h6 id="h6">THIS IS PLAY ROOM</h6>
        <h1 id="h1"class="animate__animated animate__headShake">Kids' Fun Center</h1>
        <p style="color: white;">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit ut
          elittellus, luctus nec ullamcorper?
        </p>
        <button id="button"><a href="http://playroom.org/aboutus">About us</a></button>
      </div>
    </div>
  </section>

  <section class="learnandplay" style="padding-top: 8%; padding-bottom: 8%;">
    <div class="container text-left">
      <div class="row" style="margin-right: 5%;">
        <div class="col-sm" >
          <img src="images\h3-img-1-1.png" alt="" style="display: block; margin-left: 4%; width: 100%; padding-right: 5%;"/>
        </div>
        <div class="col-sm" style=" margin-left: 6%; margin-bottom: 4%;">
          <h5 id="h5">Perfect Spot to</h5>
          <h2 id="h2">
            Learn<span id="two"> and</span><span id="three"> Play</span>
          </h2>
          <p>
            Quem iuvaret eos ne. Posse mediocrem referrentur, similique
            adversarium nostrud melius maluisset eos?
          </p>
          <p>
            Activity: Ferri verear definition in quo adet
          </p>
          <p>
            Details: <a href="#"><i class="fa fa-facebook-square" style="font-size: 22px;"></i></a> <a href="#"><i class="fa fa-twitter-square"style="font-size: 22px;"></i></a> <a href="#"><i class="fa fa-instagram"style="font-size: 22px;"></i></a> <a href="#"><i class="fa fa-pinterest-square"style="font-size: 22px;"></i></a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="eventsyearround">
    <div class="container text-left">
      <div class="row" style="padding:8% 0% 8% 0%">
        
        <div class="col-sm" style="padding-right: 5%;margin-left: 3%;">
          <h5 id="h5">Fun Never Stops</h5>
          <h2 id="h2">Events<span id="two"> Year</span><span id="three"> Round</span></h2>
          <p>
            Erant nullam periculis mei ut, no has nusquam voluptaria. Usu
            graeco praesent et. Ex persius voluptatum vis quod?
          </p>
          <button id="button"><a href="http://playroom.org/event">Find Events</a></button>
        </div>
        <div class="col-sm">
          <img src="./images/h3-img-2-1 (1).png" alt="" id="boy" style="display: block; padding-bottom: 7%; padding-top: -1%;">
          </div>
      </div>
    </div>
  </section>
{% endblock content %}