* {
  padding: 0;
  margin: 0;
}

body {
  width: auto;
}

.container {
  margin: 0 auto;
}

header nav {
  text-align: center;
}

#navBar a:link {
  font-family: "Baloo Chettan", cursive;
  font-weight: 1800;
  color: #444;
  font-size: 25px;
  text-transform: uppercase;
}

#navBar a:visited {
  color: #444;
}

#navBar a:selected {
  color: rgb(250, 115, 43);
}

#navBar a:hover {
  color: rgb(250, 115, 43);
}

.sectionOne > div {
  background-image: url("./images/h3-background-1-img-1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sectionOneContent {
  text-align: center;
  padding: 20% 5% 10% 5%;
}

#h3 {
  font-family: "Baloo Chettan", cursive;
  font-weight: 1800;
  color: #444;
  font-size: 40px;
  margin-bottom: -6%;
}

#h1 {
  font-family: "Baloo Chettan", cursive;
  font-size: 57px;
  font-weight: 1500;
  color: white;
}

#h4 {
  font-family: "Baloo Chettan", cursive;
  font-weight: 1800;
  font-size: 28px;
  color: #444;
}

#h5 {
  font-family: "Amatic SC", cursive;
  font-size: 28px;
  font-weight: bolder;
  color: #444;
  text-transform: uppercase;
  margin-top: 5%;
}

#h6 {
  font-family: "Amatic SC", cursive;
  font-size: 35px;
  font-weight: bolder;
  color: white;
  text-transform: uppercase;
  margin-top: 2%;
}

p,
#information ul,
#info,
#inputemail,
#checkbox {
  font-family: roboto;
  font-weight: 200;
  color: #444;
  font-size: 18px;
}

#button {
  background-color: rgb(248, 234, 226);
  width: 155px;
  height: 60px;
  border-width: 3px;
  border-color: rgb(250, 115, 43);
  border-style: dotted;
  border-radius: 12px;
  margin-bottom: 20%;
}

#button a:link {
  font-family: "Baloo Chettan", cursive;
  /* font-family: Raleway,sans-serif； */
  font-weight: 900;
  color: rgb(250, 115, 43);
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
}

#button a:visited {
  color: rgb(250, 115, 43);
}

#button a:hover {
  color: rgb(251, 184, 0);
  transition: 1s;
}

.mybookings button:hover {
  color: rgb(251, 184, 0);
  transition: 1s;
}

.bookbutton:hover {
  color: rgb(251, 184, 0);
  transition: 1s;
}

.learnandplay {
  background-color: #f6e3db;
}

#h2 {
  font-family: "Baloo Chettan", cursive;
  font-weight: 1800;
  color: #8dc8ae;
  font-size: 50px;
  margin-top: 2%;
  margin-bottom: 2%;
  /* text-transform: uppercase; */
}

#two {
  color: #444;
}

#three {
  color: #f47647;
}

.eventsyearround {
  background-color: #c3e1db;
}

.eventsyearround img {
  width: 100%;
}

#information .col-sm {
  padding: 4% 5%;
}

#information {
  background-color: #f6f1e4;
  color: #444;
  width: 100%;
  /* padding-left: 4%; */
}

#information h3 {
  font-family: "Baloo Chettan", cursive;
  font-weight: 1800;
}

#information a,
.learnandplay a,
.sectionFour a {
  color: #444;
}

#footer {
  text-align: center;
  padding-top: 1%;
}

.eventlist {
  background-color: #f6e3db;
  padding: 5%;
  padding-bottom: 4%;
}

.sectionTwo {
  background-color: #f6e3db;
  padding-left: 0%;
  padding-right: 0%;
}

.sectionTwo > div {
  padding-bottom: 6%;
  padding-top: 1%;
}

.sectionTwo img {
  width: 100%;
  height: 60%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.sectionTwo .col-sm {
  margin-top: 3%;
}

.sectionTwo p {
  font-family: 26px roboto;
  font-weight: 100;
  color: #444;
  text-transform: uppercase;
}

.insideCol {
  background-color: white;
  border-radius: 10px;
  height: 100%;
}

.sectionTwo img {
  transition: 0.5s ease;
}

.sectionTwo img:hover {
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
  transition: 0.5s ease;
}

.sectionTwo p {
  font-family: 26px roboto;
  font-weight: 100;
  color: #444;
  margin-bottom: 15%;
}

.aboutus {
  margin-top: 0%;
  background-color: #f6f1e4;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 20%;
  background-image: url(./images/p1-title-img1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#rowInTwo {
  margin-left: -3%;
}

#rowInTwo .col-sm {
  background-color: none;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 7%;
}

#rowInTwo .col-sm p {
  margin-left: 10%;
  margin-right: 10%;
}

#rowInTwo .Object {
  animation: floating 3s ease-in-out infinite;
  animation-delay: 1.5s;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0px, 15px);
  }
  to {
    transform: translate(0, 0px);
  }
}

#rowInTwo .object {
  animation: floatings 3s ease-in-out infinite;
  animation-delay: 1.5s;
}

@keyframes floatings {
  from {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0px, -15px);
  }
  to {
    transform: translate(0, 0px);
  }
}

#ourplayspace h4 {
  margin-top: 10%;
}

.sectionThree {
  width: 100%;
  background-color: #f6e3db;
  padding-top: 3%;
  padding-bottom: 3%;
}

.sectionFour {
  background-color: #c3e1db;
}

.sectionFour h4 {
  padding-top: 8%;
}

.sectionFour > div {
  margin: auto;
  margin-left: 0%;
}

.sectionFour img {
  width: 100%;
  border-radius: 10px;
}

.sectionFour p {
  margin-left: 10%;
  margin-right: 10%;
}

.sectionFive {
  background-color: #f6e3db;
}

.bg {
  position: relative;
}
.bg img {
  display: block;
  /* position: absolute; */
}

.bg img:last-child {
  display: none;
}

.bg:hover img:first-child {
  display: none;
}
.bg:hover img:last-child {
  display: block;
}

#gallery img {
  width: 100%;
  border: 1px rgb(250, 115, 43) solid;
  border-radius: 10px;
  border-style: dashed;
}

#wrapper {
  position: relative;
  width: 50%;
}

#galleryh3 {
  font-size: 50px;
  color: rgb(250, 115, 43);
  font-family: "Baloo Chettan", cursive;
  font-weight: 1800;
  text-align: center;
  margin-top: 4%;
}
#gallery {
  margin-bottom: 10%;
}

#gallery .img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: white;
}

#wrapper:hover .overlay {
  opacity: 0.7;
}

.text {
  color: rgb(250, 115, 43);
  font-size: 32px;
  font-family: "Baloo Chettan", cursive;
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#gallery .col-sm {
  padding-top: 3%;
}

/* ---------Siyi---------- */
#title {
  background-color: white;
  padding: 5%;
  padding-bottom: 2%;
}

.h3 {
  font-family: "Baloo Chettan", cursive;
  font-weight: 1800;
  color: #444;
  text-align: left;
}

#eventinfo > div {
  margin-top: 4%;
  padding-right: 3%;
}

#eventinfo h2 {
  font-family: "Baloo Chettan", cursive;
  font-weight: 1800;
  color: #444;
  text-align: left;
  font-size: 42px;
}

#eventinfo p,
.eventinfomore p {
  color: #444;
}

#eventinfo span,
.eventinfomore span,
.mybookings b {
  font-family: "Baloo Chettan", cursive;
  font-weight: 300;
  color: #444;
  text-align: left;
  font-size: 18px;
}

.eventinfomore {
  margin-bottom: 2%;
}

.bookbutton {
  background-color: rgb(248, 234, 226);
  width: 155px;
  height: 60px;
  border-width: 3px;
  border-color: rgb(250, 115, 43);
  border-style: dotted;
  border-radius: 12px;
  margin-bottom: 20%;
  font-family: "Baloo Chettan", cursive;
  font-weight: 900;
  color: rgb(250, 115, 43);
  font-size: 24px;
}

#bookingform {
  background-color: rgb(248, 234, 226);
  margin-bottom: 6%;
  border: rgb(250, 115, 43) dotted 5px;
  border-radius: 25px;
}

#bookingform form {
  font-family: "Baloo Chettan", cursive;
  font-weight: 1800;
  color: #444;
  font-size: 20px;
  padding-bottom: 2%;
  margin: 2%;
}

#bookingform label {
  margin-top: 1%;
  font-size: 20px;
}

#bookingform button {
  background-color: white;
  margin: 1%;
  margin-top: 4%;
  width: 100px;
  height: 50px;
  border-width: 3px;
  border-color: rgb(250, 115, 43);
  border-style: dotted;
  border-radius: 12px;
  /* margin-bottom: 20%; */
  font-family: "Baloo Chettan", cursive;
  font-weight: 900;
  color: rgb(250, 115, 43);
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
}

.mybookings {
  background-color: #f6e3db;
}

#mybookingInfoRows {
  background-color: white;
  padding: 2%;
  margin-top: 4%;
  border-radius: 20px;
}

.mybookings button {
  background-color: rgb(248, 234, 226);
  margin: 1%;
  margin-top: 4%;
  width: 55%;
  height: 40%;
  border-width: 3px;
  border-color: rgb(250, 115, 43);
  border-style: dotted;
  border-radius: 12px;
  /* margin-bottom: 20%; */
  font-family: "Baloo Chettan", cursive;
  font-weight: 900;
  color: rgb(250, 115, 43);
  font-size: 22px;
  padding: 1%;
}

.mybookings img {
  border-radius: 20px;
}

#bookingContent {
  text-align: left;
}

#userauthentic {
  text-align: right;
  padding: 1%;
}

#userauthentic #p {
  font-family: "Baloo Chettan", cursive;
}

#userauthentic span {
  color: rgb(250, 115, 43);
  font-weight: 300;
  font-size: 20px;
  text-decoration: none;
}

/********** END **********/

/********** ChihYin **********/
#form {
  margin: 10% 20% 10% 20%;
  padding: 20px 20px;
  border-radius: 10px;
  text-align: center;
  background-color: #c3e1db;
  border-width: 3px;
  border-color: #4e4e4e;
  border-style: dotted;
}

#admin_showall {
  padding: 30px 10px;
  font-family: "Baloo Chettan", cursive;
  text-align: center;
  background-color: #f6e3db;
}

.logged-in-message {
  /* float: right; */
  font-family: "Baloo Chettan", cursive;
  font-weight: 1800;
}

#usersmanage {
  text-align: center;
  font-family: "Baloo Chettan", cursive;
  font-size: 2rem;
}

#usersmanage a {
  font-size: 1rem;
  color: #444;
}
/********** END **********/
