{% extends "master.html.twig" %}

{% block content %}
<p>User has been deleted.</p>
<p<a class="nav-link" href="http://playroom.org/admin/users"> Back to the user editing page </a></p>
{% endblock content %}
