<nav>
  <a href="FinalProject/HomePage.html" id="logoLink">
    <img src="/images/header-logo.png" alt="logo" style="margin-top: 10px;"/>
  </a>
  <div id="adminNav">
    <ul class="nav justify-content-center" id="navBar">
      <li class="nav-item">
        <a class="nav-link" href="http://playroom.org/admin"> Admin Page </a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="http://playroom.org/admin/users"> EDIT USERS </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://playroom.org/admin/bookings"> EDIT BOOKINGS </a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="http://playroom.org/admin/event"> EDIT EVENTS </a>
    </li>
    </ul>
    <div class="logged-in-message">
      {% if isAdmin %}
        <p>You are logged in as {{ username }}.&nbsp;&nbsp;<a href="{{ url_for('logout') }}">Logout</a></p><br>
      {% else %}
        <a class="nav-link" href="http://playroom.org/login">Admin must log in to edit.</a><br>
      {% endif %}
    </div>
  </div>
</nav>