<nav>
  <a href="FinalProject/HomePage.html" id="logoLink">
    <img src="./images/header-logo.png" alt="logo" style="margin-top: 10px;"/>
  </a>
  <ul class="nav justify-content-center" id="navBar">
    <li class="nav-item">
      <a class="nav-link" href="http://playroom.org/admin"> Admin Page </a>
  </ul>

  <ul class="nav justify-content-center" id="navBar">
    <li class="nav-item">
      <a class="nav-link" href="http://playroom.org/admin/users"> EDIT USERS </a>
  </ul>

  <ul class="nav justify-content-center" id="navBar">
    <li class="nav-item">
      <a class="nav-link" href="http://playroom.org/admin/bookings"> EDIT BOOKINGS </a>
    </li>
  </ul>

  <ul class="nav justify-content-center" id="navBar">
    <li class="nav-item">
      <a class="nav-link" href="http://playroom.org/admin/event"> EDIT EVENTS </a>
    </li>
  </ul>
</nav>