<nav>
  <a href="FinalProject/HomePage.html" id="logoLink">
    <img src="./images/header-logo.png" alt="logo" style="margin-top: 10px;"/>
  </a>
  <ul class="nav justify-content-center" id="navBar">
    <li class="nav-item">
      <a class="nav-link" href="http://playroom.org/admin/users"> VIEW USERS </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://playroom.org/admin/adduser"> ADD USERS </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://playroom.org/admin/deleteuser"> DELETE USERS </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://playroom.org/admin/updateuser"> UPDATE USERS </a>
    </li>
  </ul>

  <ul class="nav justify-content-center" id="navBar">
    <li class="nav-item">
      <a class="nav-link" href="http://playroom.org/admin/bookings"> VIEW BOOKINGS </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://playroom.org/admin/addbookings"> ADD BOOKINGS </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://playroom.org/admin/deletebookings"> DELETE BOOKINGS </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://playroom.org/admin/updatebookings"> UPDATE BOOKINGS </a>
    </li>
  </ul>

  <ul class="nav justify-content-center" id="navBar">
    <li class="nav-item">
      <a class="nav-link" href="http://playroom.org/admin/event"> EDIT EVENTS </a>
    </li>
  </ul>
</nav>
