{% extends "master.html.twig" %}
{% block title %} User Login{% endblock %}
{% block content %}

{% if errorList %}
    <ul>
    {% for error in errorList %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}


<form method="POST" enctype = "multipart/form-data" id="form">
<h3>User Login</h3><br />
  <label id="username">Username</label><br />
  <input  type="text" name="username" value="{{ v.username }}" required /><br /><br />
  <label id="password">Password</label><br />
  <input  type="password"  name="password" value="{{ v.password }}" required /><br /><br />
  <input type="submit" id="submit" value="Log In"><br /><br />
  <a href=""> Forget your password? </a>
  <a class="nav-link" href="http://playroom.org/register"> Register a new account </a>
</form>


{% endblock content %}
