{% extends "master.html.twig" %}
{% block title %} Logged out{% endblock %}

{% block content %}

<div id="admin_showall">
<br><br>
<p>You've been logged out.</p>
<br><br>
</div>

{% endblock content %}

