{% extends "master.html.twig" %}
{% block title %}MyBookings{% endblock %}
{% block content %}
<section class="eventlist">
    <div class="container" style="text-align: center;padding-bottom:60%">
      <h3 id="h3" class="animate__animated animate__bounce" style="font-size:50px;">My Bookings</h3>
    </div>
  </section>
{% endblock content %}