{% extends "master.html.twig" %}

{% block content %}

<div id="admin_showall">
<br><br>
<a class="nav-link" href="http://playroom.org/login"> Account created successfully. Continue to log in </a>
<br><br>
</div>

{% endblock content %}

{# <a href="">Check events for kids!</a> #}