{% extends "master.html.twig" %}
{% block title %}AboutUs{% endblock %}
{% block content %}
  <section class="aboutus">
    <div>
      <h5 id="h5">Welcome to Playroom</h5>
      <h1 class="animate__animated animate__bounce" id="h1" style="color:#444">About Us</h1>
    </div>
  </section>

  <section id="ourplayspace" style="background-color: #c3e1db;">
    <div class="container text-center">
      <div class="row">
        <div class="col-sm">
          <h5 id="h5">What We Offer</h5>
          <h2 id="h2">
            Our<span id="two"> Play</span><span id="three"> Space</span>
          </h2>
        </div>
      </div>
      <div id="rowInTwo"class="row">
        <div class="col-sm">
          <img src="./images/h2-img-5.png" alt="" class="Object" />
          <h4 id="h4">All Day Fun</h4>
          <p>Suas quas veniam at eam anvi dem delenitium odio</p>
        </div>
        <div class="col-sm">
          <img src="./images/h2-img-8.png" alt="" class="object"/>
          <h4 id="h4">Birthday Parties</h4>
          <p>Suas quas veniam at eam anvi dem delenitium odio</p>
        </div>
        <div class="col-sm">
          <img src="./images/h2-img-7.png" alt="" class="Object"/>
          <h4 id="h4">Playland & Caffe</h4>
          <p>Suas quas veniam at eam anvi dem delenitium odio</p>
        </div>
        <div class="col-sm">
          <img src="./images/h2-img-6.png" alt="" class="object"/>
          <h4 id="h4">Celebrate and Learn</h4>
          <p>Suas quas veniam at eam anvi dem delenitium odio</p>
        </div>
      </div>
    </div>
  </section>

  <section class="sectionThree">
    <div class="container text-left" >
      <div class="row" style="padding:5% 0% 3% 0%">
        <div
          class="col-sm"
          style="padding-right: 5%;margin-left: 3%;"
        >
          <h5 id="h5">Education & Play</h5>
          <h2 id="h2">Kids’<span id="two"> Fun & Play</span><span id="three"> Space</span></h2>
          <p>
            Partem deserunt inciderint euismod noluisse has in,
            persiusem de sem runtume tres most inciderint his id, ut mei
            nulla alterum fac.
          </p>
        </div>
        <div
          class="col-sm"
        >
        <img src="./images/h2-img-9-1.png" style="display: block; padding-bottom: 7%; padding-top: -1%;"></img>
        </div>
      </div>
    </div>
  </section>

  <section class="sectionFour">
    <div>
      <div class="container text-center">
        <div class="row">
          <div class="col-sm">
            <h5 id="h5">Playroom Team</h5>
            <h2 id="h2">Meet<span id="two"> Our</span><span id="three"> Animators</span></h2>
          </div>
        </div>
        <div class="row"  style="padding-bottom: 8%; padding-top: 3%; ">
          <div class="col-sm">
            <div class="bg">
              <img src="./images/p1-team-img-1.jpg" alt=""/>
              <img src="./images/p1-team-hover-img-1.jpg" alt="">
            </div>
            <h4 id="h4">Jessica Lewis</h4>
            <p>
              Augue mnesarchum ex sed, an cum nusquam adipisci ocurreret.
            </p>
            <span
              ><a href="#"
              ><i
                class="fa fa-facebook-square"
                style="font-size: 22px"
              ></i
            ></a>
            <a href="#"
              ><i class="fa fa-twitter-square" style="font-size: 22px"></i
            ></a>
            <a href="#"
              ><i class="fa fa-instagram" style="font-size: 22px"></i
            ></a></span>
          </div>
          <div class="col-sm">
            <div class="bg">
              <img src="./images/p1-team-img-2.jpg" alt=""/>
              <img src="./images/p1-team-hover-img-2.jpg" alt="">
            </div>
            <h4 id="h4">Sarah Walsh</h4>
            <p>
              Augue mnesarchum ex sed, an cum nusquam adipisci ocurreret.
            </p>
            <span
              ><a href="#"
              ><i
                class="fa fa-facebook-square"
                style="font-size: 22px"
              ></i
            ></a>
            <a href="#"
              ><i class="fa fa-twitter-square" style="font-size: 22px"></i
            ></a>
            <a href="#"
              ><i class="fa fa-instagram" style="font-size: 22px"></i
            ></a></span>
          </div>
          <div class="col-sm">
            <div class="bg">
              <img src="./images/p1-team-img-3.jpg"alt=""/>
              <img src="./images/p1-team-hover-img-3.jpg" alt="">  
            </div>
            <h4 id="h4">Benjamin Morgan</h4>
            <p>
              Augue mnesarchum ex sed, an cum nusquam adipisci ocurreret.
            </p>
            <span
              ><a href="#"
              ><i
                class="fa fa-facebook-square"
                style="font-size: 22px"
              ></i
            ></a>
            <a href="#"
              ><i class="fa fa-twitter-square" style="font-size: 22px"></i
            ></a>
            <a href="#"
              ><i class="fa fa-instagram" style="font-size: 22px"></i
            ></a></span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="sectionFive">
    <div class="container text-center" style="width:100%">
      <div class="row">
        <div class="col-sm-6" style="
        padding: 5% 5% 10% 5%;
        text-align: left;
      ">
          <h5 id="h5">Sign up FOR MORE INFO</h5>
          <h2 id="h2">Stay<span id="two"> Tuned for</span><span id="three"> More</span></h2>
          <p>
            Mea ea omnesque dignissim, modo alterum honestatis quon id.
            Vix possit torquatos ad, et vix tota definitiones.
          </p>
          
          <button id="button" style="margin-top: 2%;"><a href="/login">Sign In</a></button>
        </div>
        <div class="col-sm-6" style="padding-top: 6%;padding-bottom: 6%; " >
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2801.145567238407!2d-73.9417282!3d45.406404099999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc938500caad3a7%3A0xd807d74a59dcffcf!2sJohn%20Abbott%20College!5e0!3m2!1sen!2sca!4v1674955567857!5m2!1sen!2sca" width="90%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" ></iframe>  
        </div>
      </div>
    </div>
  </section>
  
{% endblock content %}
