{% extends "admin.html.twig" %}
{% block title %} - Update Booking{% endblock %}

{% block content %}

<form method="POST" enctype="multipart/form-data" id="form">
<h3>Update Booking</h3><br />
{% if errorList %}
    <ul id="errorList">
    {% for error in errorList %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}
    <label id="userId">User ID</label><br />
    <input  type="text" name="userId" value="{{ v.userId }}" required /><br /><br />
    <label id="childId">Child ID</label><br />
    <input  type="text" name="childId" value="{{ v.childId }}" required /><br /><br />
    <button type="submit">Save</button>
    <button type="reset" id="cancelbtn">Cancel</button><br>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function(){
    $('#cancelbtn').click(function() {
        $.ajax({
            url: "/admin/bookings",
            success: function() {
            window.location.href = "/admin/bookings";
            }
        });
    });
});
</script>

{% endblock content %}