{% extends "admin.html.twig" %}
{% block title %} - Update Booking{% endblock %}


{% block content %}

{% if errorList %}
    <ul>
    {% for error in errorList %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}

<form method="POST" enctype="multipart/form-data" id="form">
<h3>Update Booking</h3><br />
    <label id="eventId">Event ID</label><br />
    <input  type="text" name="eventId" value="{{ v.eventId }}" required /><br /><br />
    <label id="userId">User ID</label><br />
    <input  type="text" name="userId" value="{{ v.userId }}" required /><br /><br />
    <label id="childId">Child ID</label><br />
    <input  type="text" name="childId" value="{{ v.childId }}" required /><br /><br />
    <button type="submit">Save</button>
</form>

{% endblock content %}