{% extends "master.html.twig" %}
{% block title %} Checkout {% endblock %}
{% block content %}

<form id="form">
  <h3>{{ event.eventName }} ${{ event.price }}</h3><br />
  
  <label for="card-element">Credit/Debit card</label>
  <div id="card-element">
    <!-- A Stripe Element will be inserted here. -->
  </div>
  <div id="card-errors" role="alert"></div><br />
  <button type="submit">PAY</button>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://js.stripe.com/v3/"></script>
<script>
// Create a Stripe Element for the card
var stripe = Stripe('pk_test_51MspVWEoZgTgZU3qXiudY6ondjJjfeNY0JTT7QXHkHXz7RA6N0GJCEsslUWkFdETLjGcPrmsNqJosDu7URNhE0Su00RNbbuxUP');
var elements = stripe.elements();
var cardElement = elements.create('card');
cardElement.mount('#card-element');

$(document).ready(function(){
    $("#form").on("submit", function(event) {
        event.preventDefault(); 
        stripe.createToken(cardElement).then(function(result) {
            if (result.error) {
                console.error(result.error);
            } else {
                var token = result.token;
                $.ajax({
                    type: "POST",
                    url: "/checkout",
                data: {
                    amount: {{ event.price * 100 }},
                    token: token.id
                },
                    success: function() {
                        window.location.href = "/checkout"; 
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.error(errorThrown);
                    }
                });
            }
        });
    });
});
</script>


{% endblock content %}