{% extends "master.html.twig" %}
{% block title %}Event{% endblock %}
{% block content %}
<form action="https://checkout.stripe.com/pay/cs_test_abcdefghijklmnopqrstuvwxyz" method="POST">
<p>{{eventId}}</p>
  <input type="hidden" name="sessionId" value="{{ sessionId }}">
  <input type="hidden" name="eventId" value="{{ eventId }}">
  <button type="submit">Pay with Stripe</button>
</form>
{% endblock content %}


