{% extends "master.html.twig" %}
{% block title %} Make a Payment{% endblock %}
{% block content %}

{% if errorList %}
    <ul>
    {% for error in errorList %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}


<form method="POST" enctype = "multipart/form-data" id="form">
    <h3>Make a Payment</h3><br />
    <label for="amount">Amount:</label>
    <input type="number" name="amount" id="amount" class="form-control" required>
    <label for="currency">Currency:</label>
    <input type="text" name="currency" id="currency" class="form-control" value="USD" required>
    <label for="description">Description:</label>
    <input type="text" name="description" id="description" class="form-control" required>
    <label for="stripeToken">Card Token:</label>
    <input type="text" name="stripeToken" id="stripeToken" class="form-control" required>
    <button type="submit" class="btn btn-primary">Pay</button>
</form>


{% endblock content %}