  <nav>
    <a href="/" id="logoLink">
      <img src="/images/header-logo.png" alt="logo" style="margin-top: 10px;"/>
    </a>
    <ul class="nav justify-content-center" id="navBar">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/"> HOME </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/event"> EVENT </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gallery"> GALLERY </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/aboutus"> ABOUT US </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/mybookings"> MY BOOKINGS </a>
      </li>
    </ul>
  </nav>
