<nav>
  <a href="http://playroom.org/" id="logoLink">
    <img src="/images/header-logo.png" alt="logo" style="margin-top: 10px;"/>
  </a>
  <div id="adminNav">
    <ul class="nav justify-content-center" id="navBar">
      <li class="nav-item">
        <a class="nav-link" href="/admin"> Admin </a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/admin/users"> USERS </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/bookings"> BOOKINGS </a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/admin/events"> EVENTS </a>
    </li>
    </ul>
  </div>
</nav>