  <div class="container text-left">
    <div class="row">
      <div class="col-sm">
        <a href="#" id="logoLink">
          <img
            src="/images/logo-footer.png"
            alt="logo"
            style="width: 30%"
          />
        </a>
        <h3>Playroom</h3>
        <p>
          Welcome to your new children's entertainment center website!
        </p>
        <span
          ><a href="#"
            ><i
              class="fa fa-facebook-square"
              style="font-size: 22px"
            ></i
          ></a>
          <a href="#"
            ><i class="fa fa-twitter-square" style="font-size: 22px"></i
          ></a>
          <a href="#"
            ><i class="fa fa-instagram" style="font-size: 22px"></i
          ></a>
          <a href="#"
            ><i
              class="fa fa-pinterest-square"
              style="font-size: 22px"
            ></i></a
        ></span>
      </div>
      <div class="col-sm" style="padding-top: 7%">
        <h3 style="margin-bottom: 5%;font-size:32px">Information</h3>
        <ul>
          <li>Party venue center play rules</li>
          <li>Make your party reservation</li>
          <li>Working hours</li>
        </ul>
      </div>
      <div class="col-sm" style="padding-top: 7%">
        <h3 style="margin-bottom: 5%;font-size:32px">Contacts</h3>
        <div id="info"><i class="fa fa-map"></i> 24 The Maples, QC H1H2A2</div>
        <div id="info"><i class="fa fa-envelope"></i> playroom@coding.com</div>
        <div id="info"><i class="fa fa-phone"></i> 123-456-7890</div>
      </div>
    </div>
  </div>